*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient(
    to bottom,
    #f1fefe,
    rgba(241, 254, 254, 0.25)
  );
  font-family: "Libre Baskerville", serif;
}
